*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}

.nav-items ul {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    padding-right: 50px;
    align-content: center;
}

.nav-items li{
    padding: 15px;
    margin: 10px;
    text-decoration: none;
}


.nav-items li:hover{
    color: rgb(243, 98, 7);
    transition: color 0.5s;
    cursor: pointer;
}

.Login-btn{
    width: 80px;
    height: 40px;
    color: orangered;
    font-size: 17px;
    margin-top: 15px;
    border-radius: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Body */
.search{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.search-input{
    padding:10px;
    width:500px;
    border-radius: 15px;
    
}
.filter-btn{
    padding: 10px;
    border-radius: 15px;
    background: orangered;
    color: #fff;
    cursor: pointer;
}

.filter{
    display: flex;
    justify-content: center;
}


.filtered{
    display: flex;
    justify-content: center;
    
}

.res-card {
    width: 200px;
    height: 50%;
    margin: 30px;
    margin-bottom: 50px;
    color: #010101;
    background:#ffffff;
    transition: 0.7s;
    border-radius: 20px;
}

.res-card:hover{
    transition: 0.7s 0.7;
}

.res-card h3{
    margin-top: 10px;
    margin-left: 15px;

}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
}

.res-card img{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    padding-top: 0;
    
}

.res-card:hover{
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    opacity: 1;
}

.card-rating{
     
    margin-left: 15px;
}
/* Footer */

.footer{
    background: orangered;
    padding: 10px;
}

/* Shimmer UI - restaurant card */

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin:70px;
}

.shimmer-img{
    width: 190px;
    height: 200px;
    background: #f0f0f0;
    border-radius: 10px;
}

.shimmer-resname{
    margin-top: 20px;
    width: 150px;
    height: 13px;
    background: #f0f0f0;
    border-radius: 20px;
}

.shimmer-info{
    margin-top: 10px;
    width: 200px;
    height: 13px;
    background: #f0f0f0;
    border-radius: 20px;
}

.shimmer-order{
    margin-top: 10px;
    width:55px;
    height: 13px;
    background: #f0f0f0;
    border-radius: 20px;
}

/* restaurant menu */

.menu { 
    box-sizing: border-box;
    border-radius: 20px;
    width: 50%;
    margin-left: 22%;
    margin-bottom: 20px;
    padding: 10px;   
    list-style: none;
}
.menu p{
    border:0.8px solid rgb(174, 171, 171) ;
    border-radius: 15px;
    font-weight: 600;
    padding: 30px;
}

/* Shimmer UI - restaurant menu*/


/* About */

.about-cart {
    box-sizing: border-box;
    width: 90%;
    margin-left: 75px;
    padding: 20px;
    background: rgb(245, 240, 240);
    border-radius: 20px;
    box-shadow: 10px 12px 5px rgb(154, 151, 151);
    margin-bottom: 50px;
}
.about-heading{
    padding-left: 20px;
    color: rgb(44, 43, 43);
    display: flex;
    justify-content: center;
}
.about-cart h2 {
    color: rgb(35, 56, 68);
    margin-left: 27px;
    text-shadow: 1.3px 1px 0.1px #010101;
}

.about-cart h3 {
    color: rgb(94, 93, 91);
    margin-left: 27px;
}