/* Header */
.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}

.nav-items ul {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    padding-right: 50px;
}

.nav-items li{
    padding: 15px;
    margin: 10px;
}

.nav-items li:hover{
    color: rgb(243, 98, 7);
    transition: color 0.5s;
    cursor: pointer;
}


/* Body */
.search{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.search-input{
    padding:10px;
    width:50%;
    border-radius: 15px;
}
.filter-btn{
    padding: 10px;
    border-radius: 15px;
    background: orangered;
    color: #fff;
    cursor: pointer;
}

.res-card {
    width: 300px;
    height: 50%;
    margin: 70px;
    margin-bottom: 50px;
    color: #010101;
    background:#fff;
    transition: 0.7s;
    border-radius: 20px;
}

.res-card:hover{
    transition: 0.7s 0.5;
}

.res-card h3{
    margin-top: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card img{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 240px;
    padding-top: 0;
    
}

.res-card:hover{
    transform: scale(1.1);
    transition: transform 0.6s ease-out;
    cursor: pointer;
    opacity: 1;
}

.card-rating{
}
/* Footer */

.footer{
    background: orangered;
    padding: 10px;
}